#Register LootContextParameterSets
public net.minecraft.world.level.storage.loot.parameters.LootContextParamSets register(Ljava/lang/String;Ljava/util/function/Consumer;)Lnet/minecraft/world/level/storage/loot/parameters/LootContextParamSet;

#Loot table fields
public net.minecraft.world.level.storage.loot.LootTable compositeFunction
public net.minecraft.world.level.storage.loot.LootPool entries
public net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer weight
public net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer functions
public net.minecraft.world.level.storage.loot.entries.NestedLootTable contents
public net.minecraft.world.level.storage.loot.entries.TagEntry expand
public net.minecraft.world.level.storage.loot.entries.TagEntry tag

#ItemOverrideList
public net.minecraft.client.renderer.block.model.ItemOverrides <init>()V

#Model map
public net.minecraft.client.resources.model.ModelManager bakedRegistry

#Screen deferredTooltipRendering
public net.minecraft.client.gui.screens.Screen deferredTooltipRendering
